@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #333333;
}

* {
  --primary: #00E99E;
  --white: #FFFFFF;
  --white2: #FAFAFA;
  --dark: #1B1B1B;
  --darkText: #333333;
  --gray: #EDEDED;
  --grayText: #8D8D8D;
  --grayTextLight: #B3B3B3;
  --red: #F22E41;
  --violet: #444CF7;

  outline-color: var(--primary);
}

@layer base {
  * {
    /* @apply border-border; */
  }

  body {
    /* @apply bg-background text-foreground; */
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* SCAN CLIP PATH */
  #clip-path {
    clip-path: polygon(0% 0%,
        0% 100%, calc((100% - 230px) / 2) 100%,
        calc((100% - 230px) / 2) calc((100% - 230px) / 2),
        calc(((100% - 230px) / 2) + 230px) calc((100% - 230px) / 2),
        calc(((100% - 230px) / 2) + 230px) calc(((100% - 230px) / 2) + 230px),
        calc((100% - 230px) / 2) calc(((100% - 230px) / 2) + 230px),
        calc((100% - 230px) / 2) 100%,
        100% 100%,
        100% 0%);
  }

  .border-corner:before {
    display: block;
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 8px solid #00E99E;
    border-left: 8px solid #00E99E;
    border-radius: 15px 0;
  }

  .border-corner:after {
    display: block;
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    border-top: 8px solid #00E99E;
    border-right: 8px solid #00E99E;
    border-radius: 0 15px;
  }

  .border-corner span.border_bottom:before {
    display: block;
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 8px solid #00E99E;
    border-left: 8px solid #00E99E;
    border-radius: 0 15px;
  }

  .border-corner span.border_bottom:after {
    display: block;
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 8px solid #00E99E;
    border-right: 8px solid #00E99E;
    border-radius: 15px 0;
  }

  /* INFINITE LOOPER */

  @keyframes slideAnimation {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateX(-100%);
    }
  }

  .looper {
    width: 100%;
    overflow: hidden;
  }

  .looper_list {
    display: flex;
    justify-content: center;
    width: fit-content;
  }

  .looper_list_instance {
    display: flex;
    width: max-content;

    animation: slideAnimation linear infinite;
  }

  .looper_list[data-animate='true'] .looper_list_instance {
    animation: slideAnimation linear infinite;
  }

  .looper_list_instance {
    display: flex;
    width: max-content;

    animation: none;
  }
}